.App {
  text-align: center;
  /* justify-content: center;
  display: flex; */
}

.App-board {
  margin: auto;
  background-color: beige;
  border-radius: 50px;
  width: 30%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  padding: 25px;
}